<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Main page</title>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<style>
			div {
				text-align: center;
				font-family: arial;
			}
		</style>

	</head>

	<body>
		{% verbatim %}
		<div id="app">	
			<div v-if="authenticated">
				Hello, {{ firstName }}<br>
				<a href="/profile/" style="padding-right:10px">Profile</a>
				<a href="#" @click="logout()">Logout</a>
			</div>
			<div v-else>
				<a href="#" @click="loginForm()">Login</a>
			</div>

			<div style="display:none" ref="loginForm">
				<form @keyup.enter="login()">
					<label>Username:</label>
					<input type="text" v-model="loginName">
					<label>Password:</label>
					<input type="password" v-model="password">
					<button type="button" @click="login()">Enter</button>
				</form>
			</div>
		</div>
		{% endverbatim %}

		<script>

		const app = Vue.createApp({
			data() {
				return {
					loginName: '',
					password: '',
					firstName: '',
					authenticated: false
				}
			},
			created () {
				axios
					.get('/check_auth/')
					.then((response) => {
						this.authenticated = response.data['result'],
						this.firstName = response.data['first_name']
					})
					.catch((error) => {console.log(error)})
			},
			methods: {
				login() {
					axios
						.post('/auth/', {
							loginName: this.loginName,
							password: this.password
						})
						.then((response) => {
							if ('Success' in response.data) {
								window.location.href = '/profile/';
							}
							else {alert('Invalid login or password')}
						})
						.catch((error) => {
							console.log(error);
						})
				},
				
				logout() {
					axios
						.post('/logout/')
						.then((response) => {
							alert(response.data.Success),
							window.location.href = "/"
						})
						.catch((error) => {
							console.log(error)
						})
				},
				loginForm() {
					this.$refs.loginForm.style.display = "block"
				}
			}
		}).mount('#app')

		</script>
	</body>
</html>

