<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body style="font-family: arial">
		<h3 align="center">Available time for { student }</h3>
		{% verbatim %}
		<div id="profile" align="center">
			<table border=1>
				<tr>
					<td></td>
					<td v-for="column in columns" width="40px" align="center">{{ column }}</td>
				</tr>
				<tr v-for="row in rows">
					<td height="40px">{{ row }}</td>
					<td v-for="column in columns" @click="check" :key="`${row} ${column}`" style="backgroundColor: red"></td>
				</tr>
			</table>
			<input type="submit" @click="submit">
		</div>
		{% endverbatim %}
		<script>
			const profile = Vue.createApp({
				data() {
					return {
						rows: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
						columns: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'],
						scheduleObj: new Set()
					}
				},
				methods: {
					check(event) {
						//let tdKey = event.target.__vnode.key;
						let tdStyle = event.target.style;
						let row = event.target.parentNode.rowIndex - 1;
						let cell = event.target.cellIndex - 1;
						let position = (this.rows[row] + ', ' + this.columns[cell]);
						if (tdStyle.backgroundColor === 'red') {
							tdStyle.backgroundColor = 'green',
							this.scheduleObj.add(position),
							console.log(position),
							console.log(this.scheduleObj)
							//console.log(event.target.parentNode);
							//console.log(event.target.parentNode.textContent),
							//axios
							//	.post('/add_interval/', {tdKey})
							//	.then((response) => {console.log(response.data)})
							//	.catch((error) => {alert(error)});
						}
						else {
							tdStyle.backgroundColor = 'red',
							this.scheduleObj.delete(position),
							console.log(this.scheduleObj)//,
							//axios
							//	.post('/remove_interval/', {tdKey})
							//	.then((response) => {console.log(response.data)})
							//	.catch((error) => {alert(error)});

						};
						//console.log(tdKey.split(' ')[0] + '\n' + tdKey.split(' ')[1]);
					},
					submit() {
						alert('schedule saved');
					}
				}
			}).mount('#profile')
		</script>
	</body>
</html>
