<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<script src="https://unpkg.com/vue@3"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body style="font-family: arial">

		{% verbatim %}
		<div id="profile" align="center">
			<h3 align="center">Available time for {{ firstName }}</h3>
			<a href="#" @click="logout()">Logout</a>
			<table border=1>
				<tr>
					<td></td>
					<td width="100px" v-for="column in columns" align="center">{{ column }}</td>
				</tr>
				<tr v-for="row in rows">
					<td height="20px">{{ row }}</td>
					<td v-for="column in columns" @click="check" :key="`${row} ${column}`" style="backgroundColor: rgb(255,100,100)"></td>
				</tr>
			</table>
			<br>
			<input type="button" value="Save schedule" style="font-size: 20pt" @click="submit">
		</div>
		{% endverbatim %}

		<script>
			const profile = Vue.createApp({
				data() {
					return {
						rows: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
						columns: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'],
						scheduleObj: new Set(),
						firstName: ''
					}
				},
				created () {
					axios
						.get('/check_auth/')
						.then((response) => {
							this.firstName = response.data['first_name']
						})
						.catch((error) => console.log(error))
				},
				methods: {
					check(event) {
						let tdStyle = event.target.style;
						let row = event.target.parentNode.rowIndex - 1;
						let cell = event.target.cellIndex - 1;
						let position = (this.rows[row] + ', ' + this.columns[cell]);
						if (tdStyle.backgroundColor === 'rgb(255, 100, 100)') {
							tdStyle.backgroundColor = 'rgb(100, 255, 100)',
							this.scheduleObj.add(position)
						}
						else {
							tdStyle.backgroundColor = 'rgb(255,100,100)',
							this.scheduleObj.delete(position)
						};
						
					},
					logout() {
						axios
							.post('/logout/')
							.then((response) => {
								alert(response.data.Success)
								window.location.href = '/'
							})
							.catch((error) => {
								console.log(error)
							})
					},
					submit() {
						let scheduleArray = Array.from(this.scheduleObj);
						axios
							.post('/submit_interval/', {schedule: scheduleArray})
							.then((response) => {console.log(response.data)})
							.catch((error) => {alert(error)});
						alert('Schedule saved');
					}
				}
			}).mount('#profile')
		</script>
	</body>
</html>
